---
layout: master
title: star6973's Github Blog
description: Landing Page for the blog
bloghome: true
---

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="container-fluid">
        <div class="row">
          <div class="hidden-xs col-md-2 col-sm-3 orange sidebar">
            {% include sidemenu.html %}
	    <div class="w3-dropdown-hover">
	      <button class="w3-button">Dropdown
	        <i class="fa fa-caret-down"></i>
	      </button>
	      <div class="w3-dropdown-content w3-bar-block">
	        <a href="#" class="w3-bar-item w3-button">Link</a>
	        <a href="#" class="w3-bar-item w3-button">Link</a>
	      </div>
	    </div> 
          </div>
          <div class="col-md-8 col-sm-7 col-md-offset-3 col-sm-offset-4">
            <div class="row">
              {% for post in paginator.posts %}
              <article class="col-md-12 justified">
                <h2 class="post-title">
                  <a href="{{ post.url }}" class="orange-link">
                    {{ post.title }}
                  </a>
                </h2>
                <div class="publish-tag">
                  <span class="fa fa-calendar"></span>&nbsp;PUBLISHED ON {{ post.date | date: "%B %d, %Y" }}
                </div>
		              <div class="tags">
                  {% if post.tags %}
              		{% for tag in post.tags %}
                			<a href="/tags/{{tag}}"><span class="label btn-orange">{{tag}}</span></a>
              		{% endfor %}
           		 {% else %}
              		None
            	 {% endif %}
                </div>
                <hr/>
              </article>
              {% endfor %}
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-6 col-xs-6 text-left">
                  {% if paginator.next_page %}
                    <a class="btn btn-orange" href="{{paginator.next_page_path}}">← previous</a>
                  {% else %}
                    <span class="btn btn-orange disabled">← previous</span>
                  {% endif %}
              </div>
              <div class="col-sm-6 col-xs-6 text-right">
                  {% if paginator.previous_page %}
                    {% if paginator.page == 2 %}
                    <a class="btn btn-orange" href="/blog/">Newer →</a>
                    {% else %}
                    <a class="btn btn-orange" href="{{paginator.previous_page_path}}">next →</a>
                    {% endif %}
                  {% else %}
                    <span class="btn btn-orange disabled">next →</span>
                  {% endif %}
              </div>
            </div>
            {% include footer.html %}
          </div>          
        </div>
      </div>
